.navbar {
    background-color: #FF7A48;
}

.container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
}

#warning {
    background-color: lightcoral;
    color: aliceblue;
    margin: auto;
    width: 40%;
    height: 30%;
    text-align: center;
}
#success {
    background-color: darkseagreen ;
    color:rgb(231, 200, 158);
    margin: auto;
    width: 40%;
    height: 30%;
    text-align: center;
}

body {
    background-image: url(https://thumbs.dreamstime.com/b/blank-sheet-paper-pen-bright-wooden-office-desk-blank-sheet-paper-pen-bright-wooden-office-desk-176684742.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

textarea { max-width: 100% }

.alert {
    background-color: #E3371E;
}

.add {
    color: white;
    background-color:#0593A2;
}

.todo_list {
    background-color: #10367881;
   
}